/* Stilizare pentru containerul principal */
.contact-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    position: relative; /* Necesitar pentru a poziționa fundalul */
    z-index: 1; /* Asigură că containerul este deasupra fundalului */
}

/* Fundal cu imagine incetosată */
.contact-container::before {
    content: '';
    position: fixed; /* Schimbat de la absolute la fixed pentru a ocupa toată pagina */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../public/images/logo salon.jpg'); /* Calea către imaginea ta */
    background-size: cover; /* Acoperă întreaga zonă */
    background-position: center;
    opacity: 0.5; /* Ajustează transparența (0.0 - complet transparent, 1.0 - complet opac) */
    z-index: -1; /* Asigură că imaginea este în spatele altor elemente */
}

/* Stilizare pentru titluri */
h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

/* Stilizarea programului de lucru */
.schedule ul {
    list-style-type: none;
    padding: 0;
}

.schedule ul li {
    font-size: 18px;
    margin: 5px 0;
    color: #555;
}

/* Stilizarea formularului de programare */
.appointment {
    margin-top: 30px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    font-size: 16px;
    color: #333;
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Stilizarea listei de programări */
.appointments-list {
    margin-top: 30px;
}

.appointments-list ul {
    list-style-type: none;
    padding: 0;
}

.appointments-list li {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 16px;
}

/* Stilizarea mesajului pentru lipsa programărilor */
.appointments-list p {
    color: black; /* Schimbă culoarea textului în negru */
    font-size: 16px; /* Poți ajusta dimensiunea fontului după cum dorești */
}


/* Media query pentru responsive design */
@media (max-width: 768px) {
    .contact-container {
        padding: 10px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    .form-group input {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 8px 16px;
    }

    .appointments-list li {
        font-size: 14px;
    }
}
